<!-- <label>User Name</label>
<input
placeholder="Enter User Name"
type="text"
class="form-control"
[(ngModel)]="userName"
>
<p>{{userName}}</p>
 -->
<p>{{clicks}}</p>
<button class="btn btn-primary"
(click)="showDetails()"
>Display details</button>
<p *ngIf="ifShowDetails; else noDetails">Some details to show..</p>
<ng-template #noDetails></ng-template>

<p *ngFor="let number of detailsLogArray">
    <span *ngIf="number < 5; else styled">{{number}}</span>
    <ng-template #styled>
        <span [ngClass]="{styled:true}" [ngStyle]="{'background-color':'blue'}">{{number}}</span>
    </ng-template>

</p>

<hr>
<label>Server Name</label>
<input
type="text"
class="form-control"
[(ngModel)]="serverName">
<p>{{serverName}}</p>
<hr>
<button class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()"
>Add New Server</button>
<hr>
<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated; else noServer">{{serverCreationStatus}}</p>
<ng-template #noServer>
    <p>No server was created</p>
</ng-template>
<hr>
<app-server *ngFor="let server of servers"></app-server>
